* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 

}

.home-portrait {
width: 100%;
height: 40vh;
display: flex;
justify-content: center;
align-items:center;
background-color:#FFE8D3;

}

.home-portrait img{
width: 180px;
height: 180px;
border-radius: 100%;
border: 3px solid rgba(255, 255, 255, 0.482);
box-shadow: 10px 10px 20px lightblue;
}

.home-intro {
    height: 100vh;
    width: 100vw;
    background-color:#EFFFF7;
    flex-direction: column;
    display: flex;
    background-image: linear-gradient(#FFE8D3, #87D8DB)
}