:root
{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-900: #504e70;


}
body 
{

    line-height: 1.5;
    font-size: 16px;

}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

}
::before,::after
{
    box-sizing: border-box;

}
ul
{
list-style: none;
}
.section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}
/* aside */
.aside
{
width: 270px;
background: var(--bg-black-100);
position: fixed;
left: 0;
top: 0;
padding: 50px;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
}
.aside .logo
{
    position: absolute;
    top: 60px;
    font-size: 41px;
    text-transform: capitalize;

    
}