* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

.home-portrait {
width: 100%;
height: 40vh;
display: flex;
justify-content: center;
align-items:center;
background-color:#EFFFF7;

}

.home-portrait img{
width: 180px;
height: 180px;
border-radius: 100%;
border: 5px solid #EDC7B6;
box-shadow: 10px 10px 10px lightblue;
}

.home-intro {
    color: #EFFFF7;
    height: 100%;
    width: 100%;
}