* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
}
html {
    height: 100%;
    margin: auto;
    width: 960px;
  }

html, body{
    padding: 0;
    margin: 0;
  }

  body{
    min-height: 100%;
  }

.home-portrait {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items:center;
background-color:#FFFFFF;

}

.home-portrait img{
width: 200px;
height: 200px;
border-radius: 100%;
border: 3px solid rgba(255, 255, 255, 0.482);
box-shadow: 10px 10px 20px lightblue;
z-index: 950;
justify-content: center;
}

.home-intro {
    height: 100vh;
    width: 100vw;
    background-color:#EFFFF7;
    flex-direction: column;
    display: flex;
    background-image: linear-gradient(#FFFFFF, #003A3E);
}

.menu {
      width: 100vh;
   display: table;
   text-align: center;
   position: fixed;
   background-color:#FFFFFF;
   height: 5%;
   width: 100%;
   opacity: 0.8;
   z-index: 1000;
}

.menu li {
display: inline-block;
float: none;
line-height: 100px;

}


.menu li a {
text-decoration: none;
font-size: 14px;
font-family: arial;
color: #324B4C;
padding: 0 20px;
display: block;


}

.nav-home {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.under-portrait {
text-align: left;
position: absolute;
float: bottom;
padding-top: 300px;
z-index: 900;


}


